
.banner{
    padding-top: 9vw;
}




/* banner slider */
:root {
    --main-image-width: 93%;
    --main-image-height: calc(100vh - 10vw);
    --thumbnail-track-width: 7%;
    --thumbnail-height:calc(100vh - 11vw);
  }
  * {
    box-sizing: border-box;
  }
  
  .product-image-carousels {
    display: flex;
    justify-content: center;
  }
  /**
   Thumbnails carousel
   */
  .thumbnails-slider {
    width: var(--thumbnail-track-width);
    position: relative;
    margin-bottom: 60px;
    background-color: #111;
    
    /** Previous/next buttons */
  }
  .thumbnails-slider button {
    height: 30px;
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.7);
    background-color: royalblue;
  }

  .main-image-slider button:focus  .main-image-slider button:focus .slick-next-icon {
    color: white !important;
  }
  .thumbnails-slider .thumbnail-button {
    display: block;
    height: var(--thumbnail-height);
    cursor: pointer;
    background: none;
    border: none;
  }
  
  
  .thumbnails-slider .thumbnail-button img {
    display: block;
    width: 100%;
    height: 100%;
  }
  /**
   Main image carousel
   */
  .main-image-slider {
    position: relative;
    width: var(--main-image-width);
    height: var(--main-image-height);
    position: relative;
    cursor: pointer;
    /** Previous/next buttons */
  }
  .main-image-slider button {
    z-index: 1;
  }
  .main-image-slider button.slick-prev {
    left: 0px;
    display: none;
  }
  
  .main-image-slider button.slick-next {
    right: -5%;
    top: 95%;
    opacity: 0.5;
  }
 
  .main-image-slider button.slick-next .slick-next-icon {
    opacity: 1;
    /** Slides */
  }
  .main-image-slider .slick-slide {
    width: var(--main-image-width);
  }
  .main-image-slider .slick-slide .image-link {
    height: var(--main-image-height);
    overflow: hidden;
  }
  .main-image-slider .slick-slide .image-link img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .slick-slide:not(.slick-active) .thumbnail-button {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
  }
  .slick-slide.slick-active .thumbnail-button,
  .slick-slide.slick-current .thumbnail-button {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
  }
  
 
  .slick-autoplay-toggle-button {
    display: none !important;
  }
  
  /* content */
  .thumbnail-button .vertical {
    transform: rotate(0deg);
    writing-mode: vertical-lr;
    text-orientation: revert;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  .thumbnail-button .vertical h4,p {
    margin: 0;
  }
  .thumbnail-button .vertical h4{
    color: #fff;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 5px;
  }
  .thumbnail-button .vertical p{
    padding-top: 3px;
    font-size: 2.5vw;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;

  }
  .slick-vertical .slick-slide{
    /* background-color: #111;
    overflow: hidden; */
  }
  
  .slick-dots{
    bottom: 10px;
  }
  .slick-dots li button .slick-dot-icon {
    color: #fff;
    opacity: 1;

}
.slick-dots li.slick-active button .slick-dot-icon {
    color: #76181a;
    opacity: 1;
}
.slick-dots li.slick-active button:focus .slick-dot-icon {
    color: #fff;
    opacity: 1;
}

    
.red-button {
    position: absolute;
    width: 7%;
    /* height: 100px; */
    height: 10px;
    background: #111;
    bottom: 0px;
    right: 0;
    display: none;
}
 
  
/* banner slider */

@media screen and (max-width: 767px) {
    /* CSS styles for mobile devices */
    .banner{
        padding-top: 61px;
    }
    .thumbnails-slider {
        width: 12.5%;
        height: 106.25vw;

      }
    .red-button {
        display: none;

      }
    
      .thumbnails-slider .thumbnail-button {
        height: 106.25vw;

      }
    .main-image-slider {
        width: 87.5%;
        height: 106.25vw;
      }
    .main-image-slider .slick-slide {
        width:87.5%;
      }
      .main-image-slider .slick-slide .image-link {
        height: 106.25vw;
      }
      .thumbnail-button .vertical h4{
        font-size: 12px;
      }
      .thumbnail-button .vertical p{
        font-size: 4.5vw;
      }
  }
  